/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
bootstrap/compiled.php
app/storage/
/storage/*.key
/vendor
.env
.env.backup
.env.production
.env.*.php
.env.php
.phpunit.result.cache
.rocketeer/
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode